<h1> this is a test</h1>




<video id="video_1" class="video-js vjs-default-skin"
  controls preload="auto" width="640" height="360"
    <%= video_tag "MirrorGirlSPX.mp4", :size => "320x240", :controls => true %>
</video>
  


